<html>
 <head>
   <script src="/socket.io/socket.io.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <link rel="stylesheet" href="/bootstrap.css" />
   <script>
     <% if (env == "development") { %>
       SOCKETIO_CONNECTION = "http://localhost:4000"; 
     <% } else if (env == "production") { %>
       SOCKETIO_CONNECTION = "http://testchat58.nodejitsu.com/"; 
     <% } %> 
   </script>

   <script src="/main.js"></script>

 </head>

 <body>
    <div class="container">
      <h1><%= title %></h1>

    <form class="channel-selector">
      <p><label>Channel: </label><input class="channel-input" type="text" /></p>
      <p><button class="form-submit">Submit</button></p>
    </form>
    
    <form class="message-form">
      <p><label>Name: </label><input class="name-input" type="text" /></p>
      <p><label>Message: </label><input class="message-input" type="text" /></p>
      <p><button class="form-submit">Submit</button></p>
    </form>

    <h2 class="room-name"></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            User:  
          </td>
          <td>
            Message:
          </td>
        </tr> 
      </thead> 
      <tbody class="messages">
        <tr>
          <td>
            Sid:
          </td>
          <td>
            Sup?
          </td>
        </tr>
      </tbody> 
    </table>
    </div>
  </body>
</html>
